<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<b th:text="${title}"></b>
<h2> BASIC INFORMATION </h2>
<ul>
    <li> Name : Alif Ahsanil Satria</li>
    <li> Jakarta, 5 Juni 1997</li>
    <li> South Tangerang</li>
</ul>
<h2> EDUCATION HISTORY </h2>
<ul>
    <li>SD Al-Mubarak</li>
    <li>SMPN 206 Jakarta Barat </li>
    <li>SMAN 63 Jakarta Selatan</li>
    <li>Fakultas Ilmu Komputer, Universitas Indonesia</li>
</ul>
<p> This is the description of mine</p>

</body>
</html>
